/*.container{*/
/*    height: inherit;*/
/*    width: 90%;*/
/*    background-color: rgb(201, 201, 201);*/
/*    box-shadow: 2px 2px 12px 1px;*/
/*}*/

body{
    background: url("../Imag/ten.jpg") fixed;
    /*background-color: #1a1a1a;*/
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    background-size: cover ;
    /*overflow: hidden;*/
}

#imag{
    width: 1000px;
    height: 500px;
}


.carousel-img{
    width: 1200px;
    height: 450px;
    background-size: cover;
}

.carousel-img:nth-child(1){
    background-image: url("../Imag/six.jpg");
}
.carousel-img:nth-child(2){
    background-image: url("../Imag/five.png");
}
.carousel-img:nth-child(3){
    background-image: url("../Imag/flag.jpg");
}

h3{
    text-align: center;
}

#div_set1{
    width: 100px;

    height: 20px;

    display:inline-block;
    float:left;
}
#div_set2{
    width: 100px;

    height: 20px;

    display:inline-block;
    float:right;
}
#div_set3{
    width: 1000px;

    /*height: 20px;*/
    background-color: rgb(201, 201, 201,0.9);
    /*box-shadow: 2px 2px 12px 1px;*/

    /*display:inline-block;*/
    /*float:right;*/
}

